* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul,
li {
  list-style: none;
}
.type-area {
  width: 20rem;
  margin: 0 auto;
}
.clearfix:after {
  clear: both;
  content: "";
  display: block;
}
.none {
  display: none;
}
h2 {
  font-size: 0.2rem;
}
h3 {
  font-size: 0.15rem;
}
h4 {
  font-size: 0.1rem;
}
div {
  font-size: 0.1rem;
}
p {
  font-size: 0.1rem;
}
.reduce-y,
.reduce-m,
.plus-y,
.plus-m,
.date {
  float: left;
  margin-right: 0.2rem;
  cursor: pointer;
}
.reduce-y:hover,
.reduce-m:hover,
.plus-y:hover,
.plus-m:hover {
  color: #fff;
}
.main-top {
  padding: 0;
}
.top-calendar {
  padding-left: 0.3rem;
  margin: 0 auto;
}
.plus-y {
  margin: 0;
}
.top-calendar::after {
  content: '';
  height: 0;
  line-height: 0;
  display: block;
  visibility: hidden;
  clear: both;
}
.bottom-lest {
  float: left;
  width: 100%;
}
#day {
  /* float: left; */
  width: 100%;
}
#day li:hover {
  background-color: rgba(54, 227, 250, 0.363);
}
#day .buld-li {
  background-color: rgba(54, 227, 250, 0.363);
}
#day li {
  float: left;
  height: 0.22rem;
  width: calc(100% / 7);
}
.bottom-lest li {
  float: left;
  width: calc(100% / 7);
}
.header-bgc {
  display: none;
  height: 0.1rem;
  background-color: rgba(0, 0, 0, 0.8);
}
.indexes {
  display: none;
  height: 0;
  transition: all 0.6s;
  overflow: hidden;
}
nav {
  position: relative;
  float: left;
  width: 20%;
  text-align: center;
}
nav .top {
  padding-left: 0.1rem;
  padding-right: 0.1rem;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  background-color: rgba(0, 0, 0, 0.8);
}
nav .top h2 {
  color: #ffffff;
  font-weight: 500;
}
nav .top h2 a {
  color: #ffffff;
}
nav .top h2 a:hover {
  color: #c7c7c7;
}
nav .top h3 {
  font-size: 0.15rem;
  color: #fff;
  font-weight: 400;
  line-height: 0.3rem;
}
nav .po {
  position: relative;
  height: 2rem;
  background-color: #fff;
  box-shadow: 0px 0px 0.1rem 0.01rem rgba(0, 0, 0, 0.3);
}
nav .name {
  position: absolute;
  padding-left: 0.1rem;
  padding-right: 0.1rem;
  margin-top: 0.2rem;
  padding-top: 0.2rem;
  box-shadow: 0px 0px 0.1rem 0.01rem rgba(0, 0, 0, 0.3);
  background-color: rgba(223, 223, 223, 0.8);
}
nav .name img {
  display: block;
  width: 40%;
  margin: 0 auto;
  border-radius: 50%;
  transition: all 0.6s;
}
nav .name img:hover {
  transform: rotate(365deg);
}
nav .name h4 {
  margin-top: 0.1rem;
  margin-bottom: 0.1rem;
  color: #464646;
  font-size: 0.15rem;
  font-weight: 600;
}
nav .name p {
  font-size: 0.14rem;
  color: rgba(64, 51, 100, 0.575);
  margin-bottom: 0.2rem;
}
nav .number {
  width: 100%;
  margin-bottom: 0.1rem;
}
nav .connect {
  height: 1.5rem;
  width: 100%;
  margin-bottom: 0.2rem;
}
nav .connect a {
  font-size: 0.1rem;
  display: inline-block;
  width: 40%;
  color: #000;
  margin-right: 2%;
  margin-bottom: 0.1rem;
  text-align: center;
}
nav .connect a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}
nav .calendar {
  width: 100%;
  height: 3rem;
}
main {
  float: right;
  width: 78%;
}
main .article {
  position: relative;
  width: 100%;
  height: 3rem;
  margin-bottom: 0.2rem;
  border-radius: 0.3rem;
  padding-top: 0.2rem;
  transition: all 0.6s;
  background-color: rgba(255, 255, 255, 0.473);
  box-shadow: 0px 0px 0.1rem 0.05rem rgba(0, 0, 0, 0.3);
}
main .article h2 {
  color: rgba(0, 0, 0, 0.7);
  text-align: center;
  margin-bottom: 0.3rem;
}
main .article .title {
  display: inline-block;
  position: relative;
}
main .article .title:after {
  content: "";
  position: absolute;
  left: 50%;
  width: 0;
  display: block;
  height: 0.02rem;
  margin-top: 0.1rem;
  background-color: #000000;
  transform: translateX(-50%);
  transition: all 0.3s;
}
main .article .title:hover::after {
  width: 100%;
}
main .article p {
  width: 80%;
  height: 70%;
  margin: 0 auto;
  text-align: left;
  overflow: auto;
}
main .article p::-webkit-scrollbar {
  display: none;
}
main .article .all {
  position: absolute;
  right: 0.25rem;
  bottom: 0.2rem;
  cursor: pointer;
}
main .article .all:hover {
  color: #7e7e7e;
}
main .article .retract {
  position: absolute;
  right: 0.25rem;
  bottom: 0.2rem;
  cursor: pointer;
}
main .article .retract:hover {
  color: #7e7e7e;
}
@media (max-width: 1000px) {
  .header-bgc {
    display: block;
    position: relative;
    height: 3rem;
    background-color: rgba(0, 0, 0, 0.8);
  }
  .header-bgc h2 {
    font-size: 0.6rem;
    padding-top: 0.1rem;
    margin-bottom: 0.1rem;
    text-align: center;
    color: #ffffff;
  }
  .header-bgc p {
    color: #fff;
    text-align: center;
  }
  .header-bgc .navI {
    position: absolute;
    left: 0.8rem;
    bottom: 1.2rem;
    font-size: 0.6rem;
    color: #fff;
    cursor: pointer;
  }
  .header-bgc .navI:hover {
    color: #000;
  }
  .indexes {
    display: block;
    margin-bottom: 0.2rem;
    padding-top: 0.1rem;
    text-align: center;
  }
  .indexes img {
    height: 3.2rem;
    border-radius: 50%;
    transition: all 0.6s;
  }
  .indexes img:hover {
    transform: rotate(365deg);
  }
  .indexes p {
    margin-bottom: 0.1rem;
  }
  .indexes p a {
    display: inline-block;
    width: 40%;
    color: #000;
  }
  .indexes p a:hover {
    color: rgba(0, 0, 0, 0.39);
  }
  nav {
    display: none;
    float: none;
  }
  main {
    width: 100%;
  }
}
